/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


img {
    width: 100%;
}

h1{
    max-width: 70%;
    margin: auto;
}

body{
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1em;
    background-color: #000000;
    box-sizing: border-box;
}

div.container, div.home-container, div.photography, div.newsletter{
    max-width: 40em;
    margin: auto;
    margin-top: 1em;
}

section {
    margin: 1em .5em;
}

aside {
    margin: 0;
}


/* navigation bar */
nav ul li {
    margin: auto;
    margin: .5em;
    display: inline;
    text-transform: uppercase;  
    
}

nav {
    text-align: center;
    padding-bottom: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 1em 1em;
    padding: 0 1em;
}

a {
    text-decoration: none;
}

a:hover, h2:hover{
    color: #8E1B1C;
}

nav{
    font-family: "chinese-rocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

/* text */
h2{
    font-family: "chinese-rocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    color: #ffffff;
    padding: 1em 0 .5em;
    text-decoration: none;
}

section.tertiary h2{
    border-top: 1px solid #ffffff;
    margin: 2em 0;
    padding-top: .5em;
}

p{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.2em;
    color: #ffffff;
}

article p{
    padding: 1em 1em;
    line-height: 1.4em;
    font-size: 1.1em;
}

figcaption{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color: #808080;
    line-height: 1.2em;
    margin: 1em .5em;
    padding-bottom: 1em;
}

div.newsletter h2:hover, div.mainstory h2:hover, div.photogallery h2:hover{
    color: #ffffff
}

/* footer */
footer{
    /* background-color: rgb(96, 119, 150); */
    color: #323232;
    padding: .5em;
    height: 2em;
    box-sizing: border-box;
}

footer p{
    color: #323232;
    margin: 0 0 2em;
}


/* photogallery */
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

input {
    display: none;
}

nav.photogallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
}

main.photogallery {
    position: relative;
    overflow: hidden;
    padding-bottom: 45em;
    display: flex;
    justify-content: center;
}

main.photogallery figure{
    margin: 0;
    width: 40em;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

main.photogallery figure img {
    align-content: center; 
}

div.photogallery figcaption{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color: #808080;
    line-height: 1.2em;
}

/* photos */
.secondary a figure {
    filter: grayscale(100%);
}

.secondary a figure:hover {
    filter: grayscale(0%);
    filter: drop-shadow(.1em .1em .1em #ffffff)
}

nav.photogallery img {
    filter: grayscale(100%);
}
nav.photogallery img:hover {
    filter: grayscale(0%);
    /* filter: drop-shadow(.2em .2em .2em #808080) */
}

/* newsletter */

/* main.newsletter li:hover{
    filter: ;
} */

section.personal-info ul li, section.music ul li, section.type ul li {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

section.personal-info ul li label, section.type ul li label, section.music ul li label {
	flex: 1 0 1em;
    font-family: "chinese-rocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1em;
    color: #ffffff;
    padding: 1em 0 .5em;
    text-decoration: none;
}

section.personal-info input{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section.type ul li{
    padding-right: 5em;
}

ul li input[type="text"],
ul li input[type="email"],
ul li input[type="tel"],
ul li select {
	flex: 1 0 100%; 
	box-sizing: border-box;
    display: flex;
    color: #8E1B1C;    
}

section.type ul li input[type="checkbox"], section.music ul li input[type="checkbox"]{
    display: inline;
    margin-right: 1em;
}

section.type ul, section.music ul{
	display: flex;
	flex-wrap: wrap;
	}

section.type ul li, section.music ul li {
	flex: 0 0 15em;
    margin-bottom: .5em;
	}


ul.newsletter li input[type="checkbox"] {
    display: flex;
    position: relative;
}

button {
    border: solid 2px;
    font-family: "chinese-rocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-transform: uppercase;
    color: #8E1B1C;
    background-color: #ffffff;
    /* margin-top: 1em; */
    
}

button:hover {
     color: #000000;   
}

@media screen and (min-width: 40em){
    nav ul li{
        margin: auto;
        display: inline;
        text-transform: uppercase;  
    }
}



@media screen and (min-width: 60em){


    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
        }

    div.photography{
        max-width: 80em;
        margin: auto;
        grid-gap: 5em;
        padding: 1em 1em;
    }

    div.newsletter{
        max-width: 80em;
        margin: auto;
        padding: 1em 1em;
    }
    
    div.container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
        }   

    nav ul li{
        margin: auto;
        display: inline;
        text-transform: uppercase;  
    }

    header, footer {
        margin: 0.75em 0;
        grid-column: 1/3;
    }

    div.container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    h2, section.main h2, section.secondary h2, section.tertiary h2, p, figcaption{
        margin: 0;
    }

/* aside */
    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }


/* secondary */
    section.secondary{
        display: flex;
    }

    section.secondary a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }

    section.secondary a h2{
        flex: 0 0 1em;
    }

    section.secondary a p{
        flex: 0 0 4em;
    }

/* main */
    section.main{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.main a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.main a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.main a figure img{
        object-fit: cover;
    }

    section.main a h2{
        flex: 0 0 1em;
    }

    section.main a p{
        flex: 0 0 4em;
    }

    main.newsletter{
        grid-template-columns: 2fr, 1fr;
        /* box-sizing: border-box; */
        display: grid;
    }
	}
