/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


img {
    width: 100%;
}

h1{
    max-width: 70%;
    margin: auto;
}

body{
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25em;
    background-color: #000000;
    box-sizing: border-box;
}

div.home-container, div.container{
    max-width: 30em;
    margin: auto;
}

section {
    margin: 1em .5em;
}

aside {
    margin: 0;
}


/* navigation bar */
nav ul li {
    margin: auto;
    margin: .5em;
    display: inline;
    text-transform: uppercase;  
    
}

nav {
    text-align: center;
    padding-bottom: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 1em 1em;
    padding: 0 1em;
}

a {
    text-decoration: none;
}

a:hover, h2:hover, section:hover{
    color: #8E1B1C;
}

/* text */
h2{
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1em;
    color: #ffffff;
    padding: 1em 0 .5em;
    text-decoration: none;
}

section.tertiary h2{
    border-top: 1px solid rgb(96, 119, 150);
    margin: 2em 0;
    padding-top: .5em;
}



p{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.2em;
    color: #ffffff;
}

article p{
    padding: 1em 0;
}

figcaption{
    font-family: sans-serif;
    font-weight: 400;
    font-size: .75em;
    font-style: italic;
    color: #808080;
    line-height: 1.2em;
    margin: 1em .5em;
    padding-bottom: 1em;
}

/* footer */
footer{
    /* background-color: rgb(96, 119, 150); */
    color: #323232;
    padding: .5em;
    height: 2em;
    box-sizing: border-box;
}

footer p{
    color: #323232;
    margin: 0 1em 1em;
}

@media screen and (min-width: 40em){
    nav ul li{
        margin: auto;
        display: inline;
        text-transform: uppercase;  
    }
}


@media screen and (min-width: 60em){

/* dipslay */
    div.container{
        max-width: 70em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.home-container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    nav ul li{
        margin: auto;
        display: inline;
        text-transform: uppercase;  
    }

    header, footer {
        margin: 0.75em 0;
        grid-column: 1/3;
    }

    div.container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    h2, section.main h2, section.secondary h2, section.tertiary h2, p, figcaption{
        margin: 0;
    }

/* aside */
    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }

/* secondary */
    section.secondary{
        display: flex;
    }

    section.secondary a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }

    section.secondary a h2{
        flex: 0 0 1em;
    }

    section.secondary a p{
        flex: 0 0 4em;
    }

/* main */
    section.main{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.main a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.main a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.main a figure img{
        object-fit: cover;
    }

    section.main a h2{
        flex: 0 0 1em;
    }

    section.main a p{
        flex: 0 0 4em;
    }

	}
